<h1>Update member</h1>

<form action="updaterecord/{{ mymember.id }}" method="post">
{% csrf_token %}
Name:<br>
<input name="name" value="{{ mymember.name }}">
<br><br>
Modul:<br>
<input name="modul" value="{{ mymember.modul }}">
<br><br>
Gruppe:<br>
<input name="gruppe" value="{{ mymember.gruppe }}">
<br><br>
Mandag:<br>
<input name="mandag" value="{{ mymember.mandag }}">
<br><br>
Tirsdag:<br>
<input name="tirsdag" value="{{ mymember.tirsdag }}">
<br><br>
Onsdag:<br>
<input name="onsdag" value="{{ mymember.onsdag }}">
<br><br>
Torsdag:<br>
<input name="torsdag" value="{{ mymember.torsdag }}">
<br><br>
Fredag:<br>
<input name="fredag" value="{{ mymember.fredag }}">
<br><br>
<input type="submit" value="Submit">
</form>